Solution/Decidir/bin
Solution/Decidir/obj
Solution/DecidirTest/bin
Solution/DecidirTest/obj
Solution/DecidirExample/bin
Solution/DecidirExample/obj
Solution/TestResults
Solution/.vs
Solution/packages
*.vssscc
